* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(img/cidade-invisivel.png);
    background-size: cover;
    background-position: right top;
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
}

header {
    background-color: #000000AA;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

.logo img {
    width: 120px;
}

.links ul {
    display: flex;
    gap: 20px;
    color: white;
    list-style: none;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    user-select: none;
    transition: all 1s;
}

.links a:hover {
    color: red;
}

main {
    /* background-color: tomato; */
    flex-grow: 1;
}

footer {
    /* background-color: turquoise; */
    height: 40px;
}